body, html {
  margin: 0;
  height: 100%;
  font-family: "Roboto";
  background: #eeeeee;
  overflow-x: hidden;
}



nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background: #446CB3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

nav a {
  color: #FFFFFF;
  margin-right: 64px;
  font-size: 200%;
}



section.settings {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #446CB3;
  top: 0;
  transition: 0.2s top;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

section.settings.state-hidden {
  top: -100vh;
}

section.settings input[type=file]#upload {
  display: none;
}
section.settings h1 {
  color: white;
}


main {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  min-height: 100vh;
  background: #eeeeee;
  position: relative;
  top: 80px;
  padding-top: 12px;


}


.soundcard {
  background: #446CB3;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  height: 60px;
  min-width: 112px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 12px
}
